
<div class="page-background">

    <main class="constrain" role="main">
        <div class="content">
            <div class="tab-content">
                <form class="new_user" id="new_user" #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">

                    <div class="fieldset">
                        <label class="text-under" for="user_email">Email</label>
                        <input autofocus="autofocus" class="textfield" type="email" required
                               [(ngModel)]="_resetPasswordData.email"
                               name="email" id="user_email">
                    </div>
                    <div class="submit-fieldset">
                        <input type="submit" name="commit" value="Reset password" class="button submit-button" [disabled]="!resetPasswordForm.form.valid">
                    </div>
                </form>
                <p>Instructions for reseting your password will be emailed to you.</p>
            </div>
        </div>
    </main>

    <div class="recent-features">
        <div class="grid-container">
            <div class="grid-s-6 grid-m-6 grid-l-12 grid-xl-12"></div>
            <div class="grid-s-6 grid-m-3 grid-l-6 grid-xl-6">
                <div class="recent-feature super-hero">
                    <div class="constrain">
                        <a class="hero-link" href="/vaneetha">
                            <div class="hero-text-outer">
                                <div class="hero-text-inner">
                                    <div class="hero-text">
                                        <h1 style="color: #ffffff">Worth Every Second</h1>
                                        <h2 style="color: #bcdaf5">New 10-Minute Documentary</h2>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <img alt="" class="image-container lazyloaded" src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1168/sidekick_worth-every-second.jpg?1481578018" data-src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1168/sidekick_worth-every-second.jpg?1481578018">
                    </div>
                </div>

            </div>
            <div class="grid-s-6 grid-m-3 grid-l-6 grid-xl-6">
                <div class="recent-feature super-hero">
                    <div class="constrain">
                        <a class="hero-link" href="/articles/the-innkeeper">
                            <div class="hero-text-outer">
                                <div class="hero-text-inner">
                                    <div class="hero-text">
                                        <h1 style="color: #c6000e">The Innkeeper</h1>
                                        <h2 style="color: #45593A">Feature Video of the Christmas Story</h2>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <img alt="" class="image-container lazyloaded" src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1173/sidekick_the-inkeeper.jpg?1481665753" data-src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1173/sidekick_the-inkeeper.jpg?1481665753">
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>