<nav class="tabs">
  <ul>
    <li class="selected">
      <a [routerLink]="['/account']">Donation History</a>
    </li>
    <li class="">
      <a [routerLink]="['/account/subscriptions']">Monthly Donations</a>
    </li>
    <li class="">
      <a [routerLink]="['/account/edit']">Account Settings</a>
    </li>
  </ul>
</nav>

<div class="tab-content">
  <h2 id="page-title">Donation History</h2>
  <p>There are no donations in your history. Please visit <a href="/donate">whitethroneministry.org/donation</a> if you would like to
    make a donation.</p>
  <div class="order-links">
    <app-log-out></app-log-out>
  </div>
</div>