
<div class="page-background">

    <main class="resource" data-page-type="resource" role="main">
        <div class="resource__wrapper">
            <header class="resource__header">

                <h1 class="resource__title">
                    Engage

                </h1>
            </header>
            <hr>
            
            <div class="resource__body js-highlightable">
                <h2>Events</h2>
                <p>Forthcoming: JUNE 7, 2017 – JUNE  11, 2017.					
                                 Berean Bible Conference (BBC),
                                 Durban, South Africa. </p>
                <p>Past: JANUARY 16, 2017 – JANUARY 21, 2017. Final Events of Bible Prophecy Seminar,Akrokerri College of Education, Ghana.</p>

                <h2>Request for A Speaker</h2>

                <p>
                    If you would like to invite the WTM Team to speak at your church or event, please send us a notice for speaker request through our e-mail: info@whitethroneministries.org 
                    You may also call our contact outlets +233243105287 or +233509834815 to discuss any speaking engagements with us.
                </p>

                <h2>WTM Speaker's Favorite Topics</h2>



                <ol>
                    <li>The Final Events of Bible Prophecy (Daniel and Revelation)</li>
                    <li>Fundamental Biblical Doctrines</li>
                    <li>Health and Wellness (Adventist Health Message)</li>
                    <li>Secular issues affecting young people such homosexuality, pornography, masturbation, occultism, illicit sexual relationships, teenage pregnancy and abortion, marital and relationship breakups, drug abuse, alcoholism, stress and other violent temperaments.</li>
                    <li>Academic / Career Guidance for young people. Special seminar topics include: Godliness, a hallmark of all great scholars; Biblical principles of effective studies for higher performance; Biblical strategies on how you can pass a difficult subject; Biblical strategies to help you prepare for any exam; and a biblical approach on how you can choose a course / career in our 21st Century Global Village.
                    </li>

                </ol>



              
               

                <h3>Request for a BBC</h3>

                <p>The Berean Bible Conference (BBC) is one of the core flagship programmes of WTM and is designed to run as either a five-day Bible Study Conference that focuses on arming God’s people (adults) with the Fundamental Truths of God’s Word so they can stand against all the wiles of the devil in these last days or a ten-day Vacation Bible School Programme for young people. If you will want to collaborate with the WTM Team to organize a Berean Bible Conference at your locality, please send us an e-mail at info@whitethroneministries.org You may also call our contact outlets +233243105287 or +233509834815 to discuss a possible BBC Conference at your locality.</p>

            

                <style>
                    .resource__meta {
                        display: none !important;
                    }
                </style>

            </div>
        </div>

    </main>
    <div class="js-scrollwatcher--utility-bar-target" id="utility-bar-target"></div>

    <app-resource></app-resource>

</div>