<div class="page-background">

    <main class="constrain" role="main">
        <h1 class="visually-hidden" id="section-title">Account</h1>
        <div class="content">
            
           <router-outlet></router-outlet>
           
        </div>
    </main>

    <div class="recent-features">
        <div class="grid-container">
            <div class="grid-s-6 grid-m-6 grid-l-12 grid-xl-12"></div>
            <div class="grid-s-6 grid-m-3 grid-l-6 grid-xl-6">
                <div class="recent-feature super-hero">
                    <div class="constrain">
                        <a class="hero-link" href="/articles/are-you-bored-with-christ-at-christmas">
                            <div class="hero-text-outer">
                                <div class="hero-text-inner">
                                    <div class="hero-text">
                                        <h1 style="color: #ffffff">Are You Bored with Christ at Christmas?</h1>
                                        <h2 style="color: #4ecca0">Finding Awe in the&nbsp;Familiar</h2>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <img alt="" class="image-container lazyloaded" src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1175/sidekick_are-you-bored-with-christ-at-christmas.jpg?1481841289" data-src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1175/sidekick_are-you-bored-with-christ-at-christmas.jpg?1481841289">
                    </div>
                </div>

            </div>
            <div class="grid-s-6 grid-m-3 grid-l-6 grid-xl-6">
                <div class="recent-feature super-hero">
                    <div class="constrain">
                        <a class="hero-link" href="/vaneetha">
                            <div class="hero-text-outer">
                                <div class="hero-text-inner">
                                    <div class="hero-text">
                                        <h1 style="color: #ffffff">Worth Every Second</h1>
                                        <h2 style="color: #bcdaf5">New 10-Minute Documentary</h2>
                                    </div>
                                </div>
                            </div>

                        </a>
                        <img alt="" class="image-container lazyloaded" src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1168/sidekick_worth-every-second.jpg?1481578018" data-src="https://cdn.desiringgod.org/website_uploads/images/heroes/super/1168/sidekick_worth-every-second.jpg?1481578018">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>