<div class="page-background">

    <main class="constrain" role="main">
        <h1 class="visually-hidden" id="section-title">Account</h1>
        <div class="content">
            <nav class="tabs">
                <ul>
                    <li>
                        <a [routerLink]="['/users/sign-in']">Log in</a>
                    </li>
                    <li class="selected">
                        <span>Create an account</span>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <form class="new_user" id="new_user" #registerForm="ngForm" (ngSubmit)="onSubmit()">
                    
                    <div class="fieldset">
                        <label class="text-under" for="user_email">Email</label>
                        <input autofocus="autofocus" class="textfield" type="email" required [(ngModel)]="_registerData.email" name="email" id="user_email">
                    </div>
                    <div class="fieldset">
                        <label class="text-under" for="user_password">Password (minimum 8 letters and numbers)</label>
                        <input class="textfield" type="password" required [(ngModel)]="_registerData.password"  name="password" id="user_password">
                    </div>
                    <div class="fieldset">
                        <label class="text-under" for="user_password_confirmation">Confirm Password</label>
                        <input class="textfield" type="password"  required
                       [(ngModel)]="_registerData.passwordConfirmation" name="passwordConfirmation" id="user_password_confirmation">
                    </div>
                    <div class="submit-fieldset">
                        <button type="submit" [disabled]="!registerForm.form.valid">
                         Create Account
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </main>
   <app-resource></app-resource>
  
</div>