<div class="alerts" *ngIf="message">
  <div class="alerts__message">

    <div (click)="close()" class="svg" >
      <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="svg-close js-close-alert">
        <title>Close</title>
        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <g id="SVG-Export" sketch:type="MSArtboardGroup" fill="#2E2E2C">
            <path d="M16.1214739,4 L10.5004969,9.62097699 L4.87852611,4 L4,4.87852611 L9.6219708,10.4995031 L4,16.1214739 L4.87852611,17 L10.5004969,11.3780292 L16.1214739,17 L17,16.1214739 L11.379023,10.4995031 L17,4.87852611 L16.1214739,4 Z"
              id="Close" sketch:type="MSShapeGroup"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>